body {
  background-color: #1a001a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

canvas {
  display: block;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.piece {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 500% 500%;
}
